.embla {
    max-width: 48rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-size: 100%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    gap: 10px;
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
  }
  .embla__slide__number {
    font-family: Poppins, sans-serif;
    background-color: #f8f8f8;
    box-shadow: inset 0 0 0 0.2rem rgb(234, 234, 234);
    border-radius: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    font-size: 1rem;
    flex-direction: column;
    gap: 15px;
  }
  
  .embla__controls {
    display: block;
    align-items: center;
    gap: 1.2rem;
    margin-top: 1rem;
  }
  .embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .embla__dot {
    -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 1.2rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem rgb(234, 234, 234);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
  }
  .embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem rgb(54, 49, 61);
  }

  @media (max-width: 479px) {
    .embla {
        max-width: 90%;
      --slide-height: 15rem; /* Adjust slide height for mobile */
    }
    .embla__slide__number {
      padding-left: 15px; /* Reduce padding for mobile */
      padding-right: 15px;
      padding-bottom: 20px;
      padding-top: 20px;
      font-size: 0.5rem; /* Adjust font size for mobile */
    }
  }  